@font-face {
    font-family: "Inter";
    src: url(../public/fonts/Inter/Inter-Medium.woff);
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: url(../public/fonts/Inter/Inter-SemiBold.woff);
    font-weight: bold;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-size: 15px;
}

.mapReference {
    width: 100vw;
    height: 100vh;
    background-image: url(../public/images/map_reference.png);
}