.carousel.carousel-slider {
    height: 310px;
    margin: auto;
    margin-top: 15px;
    width: calc(100% - 30px);
    border-radius: 24px;
}

.carousel .slider-wrapper, .carousel .slider-wrapper * {
    height: 100% !important;
}

.carousel .slider-wrapper img {
    object-fit: cover;
}
